* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  list-style-type: none;
  margin: 20px auto;
  background-color: aquamarine;
}

.todo-list li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.todo-list li:first-child {
  border-top: 1px solid grey;
}

.add-todo {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.add-todo input {
  padding: 10px;
  font-size: 16px;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 7px;
}

.confirm-button {
  background-color: blueviolet;
}

.confirm-button:hover {
  background-color: darkviolet;
}

.cancel-button {
  background-color: red;
}

.cancel-button:hover {
  background-color: darkred;
}

.toggle-add-todo {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 7px;
}